@use '../constants/colors' as *;
@use '../constants/fonts' as *;
.filter .p-button-icon-only.p-button-rounded,
.p-button {
  border-radius: 29px !important;
  background: $color-blue-dark !important;
  border: 1px solid $color-blue-dark !important;
  font-size: clamp(9px, 0.6vw, 20px) !important;
  color: $color-white !important;
  width: 100% !important;
  &:hover {
    background: $color-yellow !important;
    border-color: $color-yellow !important ;
    border: 1px solid $color-yellow !important;
    color: $color-blue-dark !important;
    font-family: 'Poppins-Bold' !important;
  }
}
.button-payment .p-button {
  background: $color-yellow-dark !important;
  border: 1px solid $color-yellow !important;
  font-size: clamp(9px, 0.6vw, 20px) !important;
  color: $color-blue-dark;
  &:hover {
    background: $color-yellow-dark-hover !important;
  }
}

.p-button-secondary {
  background: transparent !important;
  border: 1px solid $color-blue-light !important;
  color: $color-blue-dark !important;
  &:hover {
    background: $color-blue-light !important;
    border: 1px solid $color-blue-light !important;
    color: $color-blue-dark;
  }
}

.p-button-info {
  background: transparent !important;
  border: 1px solid $color-blue-dark !important;
  color: $color-blue-dark !important;
  &:hover {
    background: $color-blue-dark !important;
    color: $color-white !important;
    border: 1px solid $color-blue-dark !important;
  }
}

.p-button-help {
  background: transparent !important;
  color: $color-blue-dark !important;
  border: none !important;
  &:hover {
    background: transparent !important;
    border: 1px solid transparent !important;
  }
}
.p-button-danger {
  background: $color-red !important;
  color: $color-white !important;
  border: none !important;
  &:hover {
    background: $color-red-hover !important;
    border: none !important;
    color: $color-white !important;
  }
}
.p-button-warn {
  font-size: clamp(11px, 0.8vw, 20px) !important;
  padding-block: 0.5rem !important;
  background: $color-blue-light !important;
  color: $color-white !important;
  border: none !important;
  &:hover {
    background: #0a87ff !important;
    border: none !important;
    color: $color-white !important;
    font-family: 'Poppins' !important;
  }
}

.p-button-label {
  font-weight: normal !important;
}
.button-back {
  background-color: $color-blue-dark;
  color: $color-blue-sky;
}
.p-button-icon-only.p-button-rounded {
  border-radius: 50% !important;
  height: var(--p-button-icon-only-width);
  background: transparent !important;
  border: none !important;
  color: #005388 !important;
}

.p-button.p-component.p-fileupload-choose-button {
  background: $color-green-btn !important;
  border: none !important;
  padding-block: 0.6rem !important;
  color: $color-white !important;
  &:hover {
    background: $color-green-btn-hover !important;
    border: none !important;
  }
}
.pi {
  font-size: 0.7rem !important;
}
