@import './../constants/colors';
@import './../constants/fonts';
p-sortIcon {
  color: $color-yellow !important;
}

.button-table > .p-button-icon-only {
  border-radius: 100% !important;
}

.p-button-icon-only {
  //border-radius: 0px !important;
  height: 36px;
  color: $color-black;
  &:hover {
    background-color: $color-grayish-white;
  }
  &:disabled {
    color: $color-red-tag-text !important;
    background-color: transparent;
  }
}

.p-button-warn {
  color: $color-black !important;
  background-color: $color-yellow !important;
  border-color: $color-yellow !important;
  font-weight: bold !important;
}
.p-button-contrast,
.p-button-text.p-button-contrast {
  color: $color-white !important;
  border-color: $color-black !important;
  background-color: $color-black !important;
  border-color: none !important;
  font-weight: bold !important;
  &:hover {
    color: $color-yellow !important;
  }
}
.p-toggleswitch.p-component {
  display: block !important;
}

.p-togglebutton.p-component.p-togglebutton-checked {
  background-color: $color-yellow !important;
}

.p-togglebutton.p-component {
  background-color: $color-yellow-alpha80 !important;
}

.p-confirmdialog-accept-button > .p-button {
  background-color: $color-yellow !important;
  border-color: $color-yellow !important;
  color: $color-black !important;
}
.p-confirmdialog-reject-button > .p-button {
  border-color: $color-red !important;
  color: $color-red !important;
}
.responsive-button .p-button-label {
  display: none; /* Oculta el label */
}

button > .pi {
  font-size: 1rem !important;
}
td > .p-button-icon-only {
  height: 0px !important;
}
.p-button-label {
  font-size: $font-size-small;
}

.p-button-icon-only > .pi.pi-times-circle {
  color: $color-red !important;
}
.p-button-secondary,
.p-toggleswitch-handle {
  background-color: $color-white !important;
}

.p-ripple.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text {
  background-color: $color-grayish-white !important;
}
.button.filters > .p-ripple.p-button.p-component.p-button-icon-only.p-button-rounded.p-button-text {
  color: $color-black !important;
  background-color: $color-yellow !important;
}
.p-ripple.p-splitbutton-dropdown.p-button-icon-only.p-button.p-component,
.p-ripple.p-splitbutton-button.p-button.p-component {
  background-color: transparent !important;
  border: none !important;
  height: auto !important;
  color: $color-black !important;
}
.p-tieredmenu.p-component.p-tieredmenu-overlay {
  width: 100% !important;
}
