@use '../constants/colors' as *;
@use '../constants/fonts' as *;
.p-select {
  height: 50px;
  border-radius: 5px 5px 0px 0px !important;
  border: none !important;
  border-bottom: 1px solid $color-blue-dark !important;
  width: 100%;
  @media (width >= 64rem) and (width <= 80rem) {
    height: 45px !important;
  }
}
.p-select-label {
  font-size: clamp(16px, 0.8vw, 20px) !important;
}
.p-select-panel {
  max-width: 100vw; /* Evita que se salga de la pantalla */
}

/* Ajuste para las opciones individuales */
.p-select-item {
  white-space: nowrap; /* No permite saltos de línea */
  overflow: hidden; /* Oculta lo que sobra */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos (...) */
  display: block;
  width: 100%;
}
