@import './../constants/colors';
@import './../constants/fonts';
p-multiselect,
p-select {
  height: 35.5px !important;
  font-size: $font-size-small !important;
  border: 1px solid $color-gray !important;
  background-color: $color-white !important;
  border-radius: 0px;
  color: $color-black !important;
}
.p-select.p-disabled .p-select-label,
.p-select.p-disabled,
.p-multiselect.p-disabled .p-multiselect-label,
.p-multiselect.p-disabled {
  background-color: $color-grayish-white !important;
  color: $color-black !important;
}
.p-select-option,
.p-select-overlay,
.p-select-label {
  background-color: $color-white !important;
  color: $color-black !important;
}
.p-select-option.p-select-option-selected.p-focus {
  background-color: $color-green-tag !important;
}
.p-multiselect-option,
.p-multiselect-overlay,
.p-multiselect-label,
.p-multiselect-label-container {
  background-color: $color-white !important;
  color: $color-black !important;
}
