@import './../constants/colors';
@import './../constants/fonts';
p-accordion-header{
    background-color: $color-black !important;
    color:$color-white !important;
    &>.flex p-button .p-button .pi.pi-user-edit{
        color:$color-yellow !important;
        font-size: 1rem;
    }
    &> chevrondownicon,
        chevronupicon{
        color:$color-yellow !important; 
    }
}