@use '../constants/colors' as *;
@use '../constants/fonts' as *;

.p-accordionheader {
  background: $color-white !important;
  box-shadow: 0px 0px 12px #00000029 !important;
  color: $color-blue-dark !important;
  font-family: 'Poppins-Bold' !important;
  border: none !important;
  //border-radius: 13px  !important;
  &:hover {
    background: $color-blue-tab-alpha38 !important;
  }
}
.p-accordioncontent-content {
  box-shadow: 0px 0px 12px #00000029 !important;
  color: $color-blue-dark !important;
  font-family: 'Poppins-Bold' !important;
  border: none !important;
  border-radius: 0px 0px 13px 13px !important;
  padding: 0px !important;
}

.p-accordionpanel {
  background: $color-white !important;
  box-shadow: 0px 0px 12px #00000029 !important;
  &[data-p-active='true'] {
    margin-bottom: 1.25rem !important;
    border-radius: 13px 13px 0px 0px !important;
    &:hover {
      border-radius: 0px !important;
    }
  }
}

.p-accordionpanel:first-child {
  border-top-right-radius: 13px !important;
  border-top-left-radius: 13px !important;
}

.p-accordionpanel:last-child {
  border-bottom-right-radius: 13px !important;
  border-bottom-left-radius: 13px !important;
  &:hover {
    border-top-right-radius: none !important;
    border-top-left-radius: none !important;
  }
}
