@import './../constants/colors';
@import './../constants/fonts';
.p-drawer-content {
  padding: 5px 8px;
}
.p-drawer {
  background: $color-grayish-white !important;
}

.p-overlaybadge.p-badge {
  outline-color: transparent !important;
  outline-style: none !important;
  outline-width: 0px !important;
}
.p-badge-danger {
  background: var(--p-badge-danger-background);
  color: $color-white !important;
}
