@import './../constants/colors';
@import './../constants/fonts';

.filters {
  border: $color-black;
  border-radius: 10px 10px 0px 0px !important;
}
.label-filters {
  color: $color-black !important;
  font-size: $font-size-short;
  font-weight: 600;
  margin-bottom: 5px;
}
