$color-white: #ffffff;
$color-grayish-white: #f6f6f6;
$color-gray-light: #dadada;
$color-gray: #707070;
$color-gray-white: #f5f5f5;
$color-blue-light: #00beff;
$color-blue-light-hover: #0a87ff;
$color-blue-sky: #e9effa;
$color-blue-dark: #005388;
$color-blue-dark-hover: #0a6ba9;
$color-blue-tab: #8dd5f3;
$color-blue: #acbee0;
$color-yellow: #f5d13a;
$color-yellow-dark: #f6d836;
$color-yellow-dark-hover: #ebc701;
$color-yellow-hover: #d6c40b;
$color-orange-dark: #ffd582;
$color-orange: #fea85d;
$color-gold-disable: #dac59a;
$color-red: #c94242;
$color-red-hover: #e33c3c;
$color-red-text: #c94343;
$color-red-disable: #c57b7b;
$color-lima: #1d8b45;
$color-green: #86bd00;
$color-green-btn: #22b358;
$color-green-btn-hover: #189e4a;
$color-green-light: #42c973;
$color-green-hover: #33a250;
$color-green-disable: #84c591;
$color-beige: #e9c387;
$color-black: #101820;
$color-black-card: #2b323a;

$color-background: #005388a6;
$color-background-red: #f84747b0;

$color-white-alpha25: #{$color-white}40;
$color-white-alpha50: #{$color-white}80;
$color-white-alpha75: #{$color-white}C0;
$color-white-alpha80: #{$color-white}CC;
$color-white-alpha90: #{$color-white}E6;

$color-blue-tab-alpha38: #{$color-blue-tab}38;

$color-blue-alpha25: #{$color-blue}40;
$color-blue-alpha50: #{$color-blue}80;
$color-blue-alpha75: #{$color-blue}C0;

$color-black-alpha25: #{$color-black}40;
$color-black-alpha50: #{$color-black}80;
$color-black-alpha75: #{$color-black}C0;
